@import url(http://fonts.googleapis.com/css?family=Domine:400,700);



/* The slide-down panel at the very top of the page. Like literally. It's above the page, hidden. */
.slidey {
	overflow: hidden;
	padding: 30px 0;

	background: #f3f5f8;
	border-bottom: 1px solid #e5e8ed;
}
	.js-enabled .slidey {
		-webkit-transition: margin-top .2s;
		-moz-transition: margin-top .2s;
		transition: margin-top .2s;
	}
	.slidey b, .slidey label {
		display: block;
		font-weight: 500;
		padding-bottom: 15px;

		font-size: 15px;
		font-weight: 500;
	}
	.slidey form, .slidey aside {
		float: left;
		width: 100%;
	}
		.slidey form input {
			padding: 10px;
			width: 100%;
		}
	.slidey li {
		list-style: none;
	}
		.slidey a {
			display: block;
			text-decoration: none;

			color: #717985;
		}
			.slidey a:hover {
				color: #414b59;
			}
		.slidey li span {
			float: right;
			opacity: .6;
		}

header{
	position: relative;
	z-index:1;
}

div.about{
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: red;
	padding: 0;
	margin: 0;
}

div.portfolio{
	height: 100%;
	width: 100%;
	background-color: blue;
	position: absolute;
	top:100%;
}


ul.a, ul.b{
	list-style-type: none;
	float: right;
	padding-right: 40px;
	padding-top: 10px;
}

ul.a{
	float: left;
	padding-left: 10px;

	position: relative;
	left:2%;
}

li.active{
	background-color: #000;
	font-family: Helvetica;
}

li.tray, li.active{
	display: inline-block;
	padding: 8px 15px;
	margin-left: 10px;
	margin-top: 12px;
	/* border: 1px solid black; */
	border-radius: 3px;
	/* height: 30px; */
	/* padding-top: 4px; */
}

.active a{
	color: #fff;
}

.tray a{
	color: #000;
}
.active a, .tray a{
	text-decoration: none;
	font-family: helvetica;
	font-weight: bold;
} 

.active a:hover, .tray a:hover {
	text-decoration: none;
	color: #aaa;
}

.absolute{
	position: absolute;
	top: 20px;
	right: 30px;
}
.cross{
	cursor: pointer;
	width:  30px;
	height:  22px;
	
	transition: .5s all ease-out;
	-webkit-transition: .5s all ease-out;
	-moz-transition: .5s all ease-out;
	-o-transition: .5s all ease-out;
}
.cross.transform{
	transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
}
.cross div, .cross div:before, .cross div:after{
	position: absolute;
	left: 0;
	right: 0;
	width: 30px;
	height: 4px;

	background-color: #000;
	
	transition: .25s all ease-out;
	-webkit-transition: .25s all ease-out;
	-moz-transition: .25s all ease-out;
	-o-transition: .25s all ease-out;
}
.cross div:before, .cross div:after{ content:''; }
.cross div:before{ top: -10px;}
.cross div{ top: 50%; margin-top: -2.5px; }
.cross div:after{ bottom: -10px; }

.cross.transform div:before, .cross.transform div:after{
	width: 35px;
}
.cross.transform div{
	transform: rotate(-45deg);
}
.cross.transform div:before{
	top: 0;
	transform: rotate(0);
}
.cross.transform div:after{
	bottom: 0;
	transform: rotate(90deg);
}

.title{
	font-size: 40px;
	padding: 15px 20px 0 20px;
}

.imgspace img{
	height: auto; 
	width: 100%;
	padding-top: 40px;
}


div.content {
	padding: 0 20px 0 20px;
	font-family: 'Domine', serif;
	font-size: 12pt;
	line-height: 26px;
	margin-bottom: 15px;
}

.content a, .title a{
	text-decoration:none;
	color: #000;
} 

.content a:hover, .title a:hover {
	text-decoration: none;
	color: #000;
}


footer{
	padding: 0 20px 20px 20px;
	margin-bottom: 0px;
	color: #B8B8B8;
	display:block;
	margin-top: 5px;
	color: #98a2b1;
	font-size: 14px;
	font-style: italic;	
}

.input-search{
	border: none;
	background-color: #f3f5f8;
	font-size: 50px;
	width: 100%;
}

.input-search:focus{
	border: none;
	background-color: #f3f5f8;
	font-size: 50px;
	outline: none;
}
/*search page*/
.search-list{
	list-style: none;
	padding: 10px 0px 30px;
}


ul.items {
	padding-left: 0px;
}
